@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    user-select: none;
    scroll-behavior: smooth;
}

html,
body {
    overflow-y: auto;
    overflow-x: hidden;
}

/* scrollbar */

::-webkit-scrollbar {
    height: 8px;
    scrollbar-width: thin;
}

::-webkit-scrollbar-track {
    background: #09122C;
}

::-webkit-scrollbar-thumb {
    background: #042e53;
    border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
    background: #4070f4
}

/* navbar */

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: #021526;
    border-bottom: 2px solid #d3d7de;
}

nav .navbar {
    width: 100%;
    height: 80px;
    display: flex;
    padding: 20px 30px;
    justify-content: space-between;
    align-items: center;
}

nav .navbar .head {
    font-size: 25px;
    font-weight: 500;
    color: #d3d7de;
    text-decoration: none;
    cursor: default;
}

nav .navbar .menu {
    display: flex;
    gap: 10px;
}

.navbar .menu li {
    list-style: none;
    margin: 0 5px;
}

.nav-link {
    text-decoration: none;
    color: #d3d7de;
    background: none;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 500;
    transition: all 0.3s ease;
    user-select: none;
    outline: none;
    border: 2px solid transparent;
    -webkit-tap-highlight-color: transparent;
}

.nav-link:hover {
    border: 2px solid #f0f0f0;
}

/* container */

.container {
    background: #09122C;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 20px 20px;
    min-height: 70vh;
}

.planets-heading,
.dwarf-planets-heading {
    margin-top: 30px;
    padding: 30px 0;
}

.dwarf-planets-heading h2,
.planets-heading h2 {
    color: #d3d7de;
    font-size: 40px;
    text-align: center;
}

.dwarf-planets-heading p,
.planets-heading p {
    color: #d3d7de;
    font-size: 20px;
    width: 1000px;
    text-align: center;
}

.planets-wrap,
.dwarf-planet-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
    margin-top: 30px;
    background: #042e53;
    padding: 50px 0 40px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.planet-box {
    border: 2px solid #d3d7de;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    height: 300px;
    filter: brightness(0.8);
    transition: all 0.3s ease;
}

.planet-box:hover {
    filter: brightness(1);
}

.planet-box img {
    width: 300px;
    height: 300px;
}

/* footer */

footer {
    padding: 40px 30px;
    border-top: 1px solid #fff;
    background: #021526;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.foot-wrap {
    display: flex;
    flex-direction: row;
    gap: 200px;
}

footer .links,
footer .more-links {
    display: flex;
    flex-direction: column;
}

.head,
.links .heading h3,
.more-links h3 {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;
}

.links a,
.more-links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin-bottom: 5px;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

.links a:hover,
.more-links a:hover {
    text-decoration: underline;
}

.end-text {
    margin: 40px 0 -10px;
}

.end-text p {
    color: #fff;
    font-size: 18px;
}