body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Orbitron', sans-serif;
}

/** video **/

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/** content **/

.content {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);
    text-align: center;
    z-index: 1
}

/** heading **/

.title {
    font-size: 20px;
    color: #f0f0f0;
    text-transform: uppercase;
}

/** button **/

.button button {
    background: yellow;
    color: #000;
    border: 2px solid yellow;
    padding: 10px 30px;
    min-width: 100px;
    min-height: 40px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.button button:hover {
    border: 2px solid #f0f0f0;
    color: #f0f0f0;
    background: transparent;
}