@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    user-select: none;
    scroll-behavior: smooth;
}

html,
body {
    overflow-y: auto;
    overflow-x: hidden;
}

/* scrollbar */

::-webkit-scrollbar {
    height: 8px;
    scrollbar-width: thin;
}

::-webkit-scrollbar-track {
    background: #09122C;
}

::-webkit-scrollbar-thumb {
    background: #042e53;
    border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
    background: #4070f4
}

/* navbar */

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: transparent;
}

nav .navbar {
    width: 100%;
    height: 80px;
    display: flex;
    padding: 20px 30px;
    justify-content: space-between;
    align-items: center;
}

nav .navbar .head {
    font-size: 25px;
    font-weight: 500;
    color: #d3d7de;
    text-decoration: none;
    cursor: default;
}

nav .navbar .menu {
    display: flex;
    gap: 10px;
}

.navbar .menu li {
    list-style: none;
    margin: 0 5px;
}

.nav-link {
    text-decoration: none;
    color: #d3d7de;
    background: none;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 500;
    transition: all 0.3s ease;
    user-select: none;
    outline: none;
    border: 2px solid transparent;
    -webkit-tap-highlight-color: transparent;
}

.nav-link:hover {
    border: 2px solid #f0f0f0;
}

/* home */

#home {
    background-image: url(images/Home-page.webp);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

/** content **/

.content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

/** heading **/

.title {
    font-size: 30px;
    color: #fff;
}

.sub-heading {
    font-size: 25px;
    color: #fff;
}

/** button **/

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.button button {
    border: 2px solid #f0f0f0;
    color: #f0f0f0;
    background: transparent;
    padding: 10px 20px;
    min-width: 100px;
    min-height: 40px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.3s ease;
    margin-top: 15px;
    cursor: pointer;
}

.button button:hover {
    background: #042e53;
    color: #fff;
    border: 2px solid #042e53;
}

/* intro section */

.intro-container {
    background: #09122C;
    width: 100%;
    padding-top: 40px;
}

.solar-system {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

/* info container */

.solar-system .info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 10px;
}

.explore-now {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* info text */

.info .info-text,
.explore-now .info-text {
    width: 800px;
}

.info .info-text h3,
.explore-now .info-text h3 {
    color: #fff;
    font-size: 22px;
}

.info .info-text p,
.explore-now .info-text p {
    color: #fff;
    letter-spacing: 1px;
}

.info .info-text ul {
    padding-left: 30px;
    margin-top: 10px;
}

.info .info-text ul li {
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

/* info image */

.info .info-image img {
    width: 600px;
    border-radius: 20px;
}

/* footer */

footer {
    padding: 40px 30px;
    border-top: 1px solid #fff;
    background: #021526;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.foot-wrap {
    display: flex;
    flex-direction: row;
    gap: 200px;
}

footer .links,
footer .more-links {
    display: flex;
    flex-direction: column;
}

.head,
.links .heading h3,
.more-links h3 {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;
}

.links a,
.more-links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin-bottom: 5px;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

.links a:hover,
.more-links a:hover {
    text-decoration: underline;
}

.end-text {
    margin: 40px 0 -10px;
}

.end-text p {
    color: #fff;
    font-size: 18px;
}